# LiveKit Configuration for Clinical Video Consultations
LIVEKIT_URL=wss://carelink-healthineers-bm6n32il.livekit.cloud
LIVEKIT_API_KEY=APIPbw6RFXjhgF5
LIVEKIT_API_SECRET=xcC6lyscS1sCC7X8pqwhO2EPOB1042eAGzEXfQ9jr6G

